body {
  font: normal 12px/18px Arial, Helvetica, sans-serif;
  background-color: #ddbc9b; }
  body #content {
    margin: 10px 60px;
    padding: 35px;
    background-color: #fff; }
    body #content h1, body #content h2 {
      color: #8d4009;
      margin-top: 40px; }
    body #content h1 {
      margin-top: 0;
      font-weight: 600; }
    body #content h2 {
      font-style: italic;
      font-weight: 100; }
    body #content p:last-child {
      margin-bottom: 0; }
    body #content img {
      border: 2px solid #8d4009;
      padding: 4px;
      position: relative;
      top: 4px; }
      body #content img.img-left {
        float: left;
        margin-right: 25px;
        margin-bottom: 15px; }
      body #content img.img-right {
        float: right;
        margin-left: 10px; }
    body #content .brief {
      background-color: #fadcba;
      width: 33%;
      padding: 18px;
      font-style: italic;
      float: left;
      margin-right: 20px;
      font-weight: 600; }
    body #content a {
      display: inline-block;
      margin-bottom: 10px; }
    body #content table {
      border-collapse: collapse; }
      body #content table caption {
        text-align: right;
        font-size: 16px;
        font-style: italic;
        margin-bottom: 10px; }
      body #content table tr {
        border-bottom: 1px solid #e0e0e0; }
        body #content table tr th {
          background-color: #e0e0e0;
          border-right: 1px solid #fff;
          text-align: center; }
          body #content table tr th:last-child {
            border-right: none; }
        body #content table tr th, body #content table tr td {
          padding: 8px 20px; }
