<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>CSS Layouts</title>
	<link rel="stylesheet" href="../shared/general.css">
	<link rel="stylesheet" href="./styles.css">
</head>

<body>
	<nav>
		nav
		<li>li</li>
		<li>li</li>
		<li>li</li>
		<ul>
			ul
			<li>li</li>
			<li>li</li>
		</ul>
		<li>li</li>
	</nav>
	<section class="main">
		<header>
			header
		</header>
		<section class="content">
			<section class="section">
				<article class="img-container">
					<section class="img-row">
						<span>img</span>
						<span>img</span>
						<span>img</span>
						<span>img</span>
						<span>img</span>
						<span>img</span>
					</section>
					<section class="img-row">
						<span>img</span>
						<span>img</span>
						<span>img</span>
						<span>img</span>
						<span>img</span>
						<span>img</span>
					</section>
				</article>
				<section class="article">
					<article class="article">article</article>
					<article class="article">article</article>
				</section>
				<footer>footer</footer>
			</section>
			<aside>aside</aside>
		</section>
	</section>
</body>

</html>