nav {
	float: left;
	width: calc(30% - 10px);
}

header {
	float: right;
	width: calc(70% - 10px);
	line-height: calc(20vh - 10px);
}

section.section {
	float: left;
	width: calc(50% - 15px);
}

article.img-container span {
	float: left;
	width: 12%;
	line-height: 4em;
}

article.article {
	float: left;
	width: calc(50% - 15px);
	line-height: calc(30vh - 10px);
}

footer {
	float: left;
	width: calc(100% - 15px);
	line-height: calc(14vh - 13px);
}

aside {
	float: right;
	width: calc(20% - 15px);
	line-height: calc(80vh - 25px);
}