$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$bodyFontColor: #fff;
$bodyBg: #659a01;
$contentBg: #666701;
$headerColor: #fecc10;
$imgBorderColor: $bodyFontColor;
$imgBorderWidth: 1px;
$imgPadding: 10px;
$briefBg: #677d01;
$tableHeaderBg: #94a34e;
$tableBg: $briefBg;
$tableHeaderBorder: transparent;
$tableHeaderAlign: left;
$linkColor: $headerColor;