$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$bodyBg: #ddbc9b;
$contentBg: #fff;
$headerColor: #8d4009;
$headerStyle: italic;
$imgBorderColor: $headerColor;
$imgBorderWidth: 2px;
$imgPadding: 4px;
$briefBg: #fadcba;
$briefWidth: 33%;
$tableHeaderBg: #e0e0e0;
$tableHeaderBorder: $contentBg;
$tableHeaderAlign: center;